/Music/
/Models/
/results/
/Excluded/
/MissingData/
/test/
/Touhou/
/MAESTRO/
/ex_maestro/
/MAESTRO/
/seeds/
*.txt
/.idea/
/__pycache__/
artist_embeddings.npy
embedding distrib.png
embeddings.npy
load_test.py
test.mid
